<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748477872997-a6ure4mm51hpgq0ibeh9qh755rr7fp4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748477872997-a6ure4mm51hpgq0ibeh9qh755rr7fp4i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>748477872997-20fnbcspdkdm56aslel3id5ke2gcalth.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAcrdpN2ghk6YdfBPVeQudfA_WAT-kkEqI</string>
	<key>GCM_SENDER_ID</key>
	<string>748477872997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartWheelchairCommunicationDeviceApp</string>
	<key>PROJECT_ID</key>
	<string>dht11-fb8a7</string>
	<key>STORAGE_BUCKET</key>
	<string>dht11-fb8a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748477872997:ios:7519eb60c858f6f1e3bf8c</string>
	<key>DATABASE_URL</key>
	<string>https://dht11-fb8a7-default-rtdb.firebaseio.com</string>
</dict>
</plist>